<% @menu_items.each_slice(3) do |menu_item| %>
  <div class="container">
    <% menu_item.each do |menu_items| %>
      <div class="col-md-4">
        <div class="menu_item">
          <h3><%= menu_items.name %></h3>
          <h5><%= menu_items.description %></h5>
          <p><%= number_to_currency(menu_items.price) %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>